<template>
<div>
<div>
  <b-navbar v-if="menu" toggleable="lg"  type="dark" variant="dark" style="z-index:99">
    <b-navbar-brand href="#">COVID 19</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            <b-nav-item>
                <router-link class="nav-link" :to="{name:'registro_index'}">Respuestas</router-link>
            </b-nav-item>
            <b-nav-item>
                <router-link class="nav-link" :to="{name:''}">Preguntas</router-link>
            </b-nav-item>
            <b-nav-item>
                <router-link class="nav-link" :to="{name:'user_index'}">Usuarios</router-link>
            </b-nav-item>
        </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <em>Usuario</em>
          </template>
          <b-dropdown-item :href="base+'/logout'">Salir</b-dropdown-item>
          <b-dropdown-item href="#">Opciones</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</div>







    <nav v-if="false" class="navbar navbar-expand-lg navbar-dark bg-dark" style="z-index: 999999999;">
  <a class="navbar-brand" href="#">COVID 19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        
      </li>
      <li class="nav-item">
      </li>
        <li v-if="perfil">
            
        </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link" :href="base+'/logout'">Salir</a></li>
        </ul>
    </form>
  </div>
</nav>

    <div class="container body-content" id="content">
        <router-view></router-view>
    </div>
</div>
</template>

<script>
export default {
    name: 'layout',
    data()
    {
        return {
            perfil:false,
            menu:false,
            base:'',
        }
    },
    methods:{
        loadPerfil()
        {
            let me = this;
            axios
            .get(base+'/perfil')
            .then((response)=>{
                let val=(response.data[0])
                me.menu=true;
                me.perfil=(val.name=="admin");
            })
            .catch(()=>{

            })
        }
    },
    mounted()
    {
        this.base = base;
        this.loadPerfil();
    }
}
</script>

<style>
.ion-page{
    padding-top: 80px;
}
</style>