<template>
    <ion-app>
		<ion-content>
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <div class="pull-left">
                            <h4><button class="btn btn-success" @click="verGraficos()"><i class="fas fa-chart-line"></i></button>Respuestas</h4>
                        </div>
                    </div>
                    <template>
                        <div class="row">
                            <div class="col-md-4">
                                Registros por páginas
                                <select class="form-control" name="registrosxpaginas" v-model="registrosxpaginas" id="registrosxpaginas" :disabled="respuestasArray.length==0">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="">Documento del paciente</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form form-control" v-model="documentoPaciente">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" @click="loadRespuestas(1)" type="button" id="button-addon2">Filtrar</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                Descargar registros<br>
                                <div class="btn-group btn-group-sm pull-right" role="group">
                                    <button class="btn btn-success"  @click="exportCSVFile()"  :disabled="respuestasArray.length==0">
                                    <i class="fas fa-download"></i>
                                    <i class="fas fa-file-csv"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <template v-if="respuestasArray.length==0">
                            <div class="card-body text-center">
                                <h4>No hay registros para mostrar.</h4>
                            </div>
                        </template>
                        <div class="card-body card-body-with-table" v-if="respuestasArray.length>0">
                            <div class="table-responsive">

                                <table class="table table-striped " borde="1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 150px;">FECHA DE REGISTRO</th> 	
                                            <th>TIPO DE IDENTIFICACION</th> 	
                                            <th>NUMERO DE IDENTIFICACION
                                            <th>PRIMER NOMBRE</th>
                                            <th>SEGUNDO NOMBRE</th>
                                            <th>PRIMER APELLIDO</th>
                                            <th>SEGUNDO APELLIDO</th>
                                            <th>GENERO</th>
                                            <th>FECHA DE NACIMIENTO</th>
                                            <th style="min-width:100px">EDAD</th>
                                            <th>UNIDAD DE MEDIDA</th> 	
                                            <th>NACIONALIDAD</th>
                                            <th>DOMICILIO</th>
                                            <th>DIRECCION</th>
                                            <th>BARRIO /VEREDA</th>	
                                            <th>ZANA RESIDENCIA</th>
                                            <th>TELEFONO</th>
                                            <th>NOMBRE DE EPS</th>
                                            <th>OCUPACION</th>
                                            <template v-for="(preguntas,idx) in preguntasArray">
                                                <th style="min-width:300px" :key="idx">{{preguntas.nombre}}</th>
                                            </template>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="(respuesta,key) in respuestasArray">
                                        <tr :key="key">
                                        <th>{{pagina*registrosxpaginas-registrosxpaginas+key+1}}</th>
                                        <td>{{respuesta.created_at}}</td>
                                        <td>{{respuesta|issets}}</td>
                                        <td>{{respuesta.tbl_paciente.documento|numberFormat}}</td>
                                        <td>{{respuesta.tbl_paciente.nombre_primero}}</td>
                                        <td>{{respuesta.tbl_paciente.nombre_segundo}}</td>
                                        <td>{{respuesta.tbl_paciente.apellido_primero}}</td>
                                        <td>{{respuesta.tbl_paciente.apellido_segundo}}</td>
                                        <td>{{respuesta.tbl_paciente.genero}}</td>
                                        <td>{{respuesta.tbl_paciente.fecha_nacimiento|fecha}}</td>
                                        <td>{{respuesta.tbl_paciente.fecha_nacimiento|edad}}</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>{{respuesta.tbl_paciente.domicilio}}</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>{{respuesta.tbl_paciente.celular1}}</td>
                                        <td>-</td>
                                        <td>-</td>
                                        <template v-for="(preguntas) in preguntasArray">
                                            <template v-for="(temp2) in respuesta.tbl_cuestionario_x_respuesta">
                                            <template v-if="preguntas.id==temp2.id_pregunta" >
                                            <td>
                                            {{temp2.value}}
                                            </td>
                                            </template>
                                            </template>
                                            
                                        </template>
                                        </tr>

                                        </template>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 100px;">FECHA DE REGISTRO</th> 	
                                            <th>TIPO DE IDENTIFICACION</th> 	
                                            <th>NUMERO DE IDENTIFICACION
                                            <th>PRIMER NOMBRE</th>
                                            <th>SEGUNDO NOMBRE</th>
                                            <th>PRIMER APELLIDO</th>
                                            <th>SEGUNDO APELLIDO</th>
                                            <th>GENERO</th>
                                            <th>FECHA DE NACIMIENTO</th>
                                            <th style="min-width:100px">EDAD</th>
                                            <th>UNIDAD DE MEDIDA</th> 	
                                            <th>NACIONALIDAD</th>
                                            <th>DOMICILIO</th>
                                            <th>DIRECCION</th>
                                            <th>BARRIO /VEREDA</th>	
                                            <th>ZANA RESIDENCIA</th>
                                            <th>TELEFONO</th>
                                            <th>NOMBRE DE EPS</th>
                                            <th>OCUPACION</th>
                                            <template v-for="(preguntas,idx) in preguntasArray">
                                                <th style="min-width:300px" :key="idx">{{preguntas.nombre}}</th>
                                            </template>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="col-md-12">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a style="min-height: 100%;" class="page-link" @click="loadRespuestas(1)"  href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item" :class="pagina==1?'disabled':''"><a class="page-link" @click="loadRespuestas(pagina==1?1:pagina-1)"  href="#">Ant</a></li>
                                        <li :class="item==pagina?'active':''" v-for="(item,key) in arrayPaginas" :key="key" class="page-item"><a @click="loadRespuestas(item);" class="page-link" href="#">{{item}}</a></li>
                                        <li v-if="paginas>10" class="page-item disabled"><a href="#" class="page-link" >...</a></li>
                                        <li class="page-item" :class="pagina==paginas?'disabled':''"><a class="page-link" @click="loadRespuestas(pagina==paginas?paginas:pagina+1)" href="#" >Sig</a></li>
                                        <li class="page-item"><a style="min-height: 100%;" class="page-link" @click="loadRespuestas(paginas)"  href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div>
                <b-modal id="modal-1" size="xl" ref="modal-1" title="Grafica">
                    <select v-if="tipograficoView" v-model="tipo_grafico">
                        <option v-for="(item,idx) in arrayTipoGrafico" :key="idx" :value="item">{{item}}</option>
                    </select>
                    <highcharts v-if="tipograficoView" :options="chartOptions"></highcharts>
                </b-modal>
            </div>
        </ion-content>
    </ion-app>
</template>

<script>
import {Chart} from 'highcharts-vue'
export default {

    data()
    {
        return {
            documentoPaciente:'',
            tipo_grafico:'column',
            tipograficoView:true,
            arrayTipoGrafico:['column','pie','bar'],
            chartOptions:[],
            arrayPaginas:[],
            respuestasArray:[],
            preguntasArray:[],
            dataTableArray:[],
            pagina:1,
            paginas:0,
            registrosxpaginas:10,
        }
    },
    components: {
        highcharts: Chart 
    },
    watch:{
        'tipo_grafico':function(value)
        {
            this.verGraficos();
            this.tipograficoView=false;
            this.tipograficoView=true;
        },
        'registrosxpaginas':function(value)
        {
            this.registrosxpaginas=value;
            this.loadRespuestas(1)
        }
    },
    filters:{
        fecha(fecha)
        {
            if(fecha==null)
            {
                return '';
            }
            else{

                var values = fecha.split(" ");
                return values[0];
            }
        },
        numberFormat(n)
        {
            return String(n).replace(/(.)(?=(\d{3})+$)/g,'$1.')
        },
        edad(fecha)
        {
            if(fecha==null)
            {
                return '';
            }
            if (typeof fecha != "string" && fecha && esNumero(fecha.getTime())) {
                fecha = formatDate(fecha, "yyyy-MM-dd");
            }

            
            var values = fecha.split("-");
            var dia = values[2];
            var mes = values[1];
            var ano = values[0];

            // cogemos los valores actuales
            var fecha_hoy = new Date();
            var ahora_ano = fecha_hoy.getYear();
            var ahora_mes = fecha_hoy.getMonth() + 1;
            var ahora_dia = fecha_hoy.getDate();

            // realizamos el calculo
            var edad = (ahora_ano + 1900) - ano;
            if (ahora_mes < mes) {
                edad--;
            }
            if ((mes == ahora_mes) && (ahora_dia < dia)) {
                edad--;
            }
            if (edad > 1900) {
                edad -= 1900;
            }

            // calculamos los meses
            var meses = 0;

            if (ahora_mes > mes && dia > ahora_dia)
                meses = ahora_mes - mes - 1;
            else if (ahora_mes > mes)
                meses = ahora_mes - mes
            if (ahora_mes < mes && dia < ahora_dia)
                meses = 12 - (mes - ahora_mes);
            else if (ahora_mes < mes)
                meses = 12 - (mes - ahora_mes + 1);
            if (ahora_mes == mes && dia > ahora_dia)
                meses = 11;

            // calculamos los dias
            var dias = 0;
            if (ahora_dia > dia)
                dias = ahora_dia - dia;
            if (ahora_dia < dia) {
                ultimoDiaMes = new Date(ahora_ano, ahora_mes - 1, 0);
                dias = ultimoDiaMes.getDate() - (dia - ahora_dia);
            }

            return edad + " años, " + meses + " meses y " + dias + " días";
        },
        issets(respuesta)
        {
            try{
                return respuesta.tbl_paciente.tbl_documento_tipo.nombre
            }
            catch{
                return '';
            }
            
        }
    },
    methods:{
        start()
        {
            this.loadRespuestas(1)
        },
        loadRespuestas(pag)
        {
            let me = this;
            let url = base+'/preguntas/respuestas/all?pag='+pag+'&registros='+me.registrosxpaginas+'&documento='+me.documentoPaciente;
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    me.pagina          = parseInt(response.data.data.pagina);
                    me.preguntasArray  = response.data.data.preguntas;
                    me.respuestasArray = response.data.data.respuestas;
                    me.paginas         = response.data.data.paginas;
                    me.arrayPaginas    = [];
                    for(let i = (me.pagina-5<1?1:me.pagina-5);(i<(me.pagina+5<10?11:me.pagina+5))&&(i<me.paginas);i++)
                    {
                        me.arrayPaginas.push(i);
                    }
                }
            })
        },
        convertToCSV(objArray)
        {
            const array = typeof objArray != "object" ? JSON.parse(objArray) : objArray;
            let str = "";
            for (let i = 0; i < array.length; i++)
            {
                let line = "";
                for (let index in array[i])
                {
                    if (line != "") line += ";";
                        line += array[i][index];
                }
                str += line + "\r\n";
            }
            return str;
        },
        exportCSVFile()
        {
            let me = this;
            me.$swal({title: 'Por favor espere',imageUrl: base+"/img/loading.gif",text: 'Este proceso puede demorar',showCancelButton: false,showConfirmButton: false});
            let url = base+'/export';
            axios
            .post(url,{documento:me.documentoPaciente})
            .then((response)=>{
                if(response.data.validate)
                {
                    var url = base+'/'+response.data.data.url;
                    window.location=url;
                }
                me.$swal.close()
            })
            .catch(()=>{
                me.$swal.close()
                me.$swal("Se genero un error al hacer el excel");
            })
        },
        paginar(pagina)
        {
            let me = this;
            me.pagina=pagina;
            me.respuestasArray=[];
            me.paginas=Math.ceil(me.dataTableArray.length/me.registrosxpaginas);
            for(let index =((me.registrosxpaginas*me.pagina)-me.registrosxpaginas);(index<me.registrosxpaginas*me.pagina)&&(index<me.dataTableArray.length);index++)
            {
                me.respuestasArray.push(me.dataTableArray[index]);
            }
        },
        verGraficos()
        {
            let me = this;
            let url = base+'/preguntas/respuestas/draw';
            axios
            .get(url)
            .then((response)=>{
                if(response.data.validate)
                {
                    let data=response.data.data.respuestas;
                    let series=response.data.data.series;
                    if(me.tipo_grafico=='pie')
                    {
                        series.forEach((value,idx)=>{
                            value.y=value.data[0];
                            delete value.data;
                            series[idx]=value;
                        })
                        series=[{
                            name: 'Brands',
                            colorByPoint: true,
                            data: series
                        }]   
                    }
                    me.chartOptions ={
                    chart: {type: me.tipo_grafico},
                    title: {text: 'Resultados de encuesta COVID-19'},
                    yAxis:
                    {
                        title: {text: 'Numero de consultados'}
                    },
                    xAxis: 
                    {
                        //accessibility:{rangeDescription: 'Range: 2010 to 2017'}
                    },
                    plotOptions:
                    {
                        series: 
                        {
                            label: {connectorAllowed: false},
                            pointStart: 2020
                        },
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '{point.percentage:.1f}% : <b>{point.name}</b>'
                            }
                        }
                    },
                    series: series,
                    tooltip: {
                        pointFormat: '{point.name}: {point.y}</b>'
                    },
                    dataLabels: {
                        enabled: true,
                        rotation: -90,
                        color: '#FFFFFF',
                        align: 'right',
                        format: '{point.y:.1f}', // one decimal
                        y: 10, // 10 pixels down from the top
                        style: {
                            fontSize: '13px',
                            fontFamily: 'Verdana, sans-serif'
                        }
                    },
                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }
                };
                this.$refs['modal-1'].show()
                }
            })
        }
    },
    mounted()
    {
        this.start();
    }
}
</script>

<style>

</style>