<template>
	<ion-app>
		<ion-content v-if="nuevaEncuesta">
			<ion-card v-if="siValido">
				<ion-card-header>
				<ion-card-title>Datos personales</ion-card-title>
				</ion-card-header>
				<ion-card-content>
					<ion-item>
						<ion-label position="floating">Numero de documento</ion-label>
						<ion-input v-model="paciente.documento" @input="paciente.documento = $event.target.value;$forceUpdate()" @keyup="paciente.documento = $event.target.value;$forceUpdate()" :value="paciente.documento"></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="floating">Repita su numero de documento</ion-label>
						<ion-input v-model="paciente.documentoRepeat" @input="paciente.documentoRepeat = $event.target.value;$forceUpdate()" @keyup="paciente.documentoRepeat = $event.target.value;$forceUpdate()" :value="paciente.documentoRepeat"></ion-input>
					</ion-item>
                    
                    <ion-item>
						<ion-label position="floating">Ingrese su celular de contacto</ion-label>
						<ion-input v-model="paciente.celular" @input="paciente.celular = $event.target.value;$forceUpdate()" @keyup="paciente.celular = $event.target.value;$forceUpdate()" :value="paciente.celular"></ion-input>
					</ion-item>
                    
                    <ion-item>
						<ion-label position="floating">Ingrese su direccion</ion-label>
						<ion-input v-model="paciente.direccion" @input="paciente.direccion = $event.target.value;$forceUpdate()" @keyup="paciente.direccion = $event.target.value;$forceUpdate()" :value="paciente.direccion"></ion-input>
					</ion-item>
                    
                    <ion-item>
						<ion-label position="floating">Ingrese su correo electronico</ion-label>
						<ion-input v-model="paciente.email" @input="paciente.email = $event.target.value;$forceUpdate()" @keyup="paciente.email = $event.target.value;$forceUpdate()" :value="paciente.email"></ion-input>
					</ion-item>
				</ion-card-content>
			</ion-card>
			<template v-for="(item,index) in arrayPreguntas" v-if="!siValido">
				<ion-card v-if="item.tbl_preguntas.length>0" :key="index">
					<ion-card-header>
						<ion-card-title>{{item.nombre}}</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-item v-for="(entry,idx) in item.tbl_preguntas" :key="idx">
							<template v-if="entry.nivel==1">
								<ion-select :value="entry.value" @ionChange="entry.value = $event.target.value;$forceUpdate()" interface="popover">
									<ion-select-option value="false" selected>No</ion-select-option>
									<ion-select-option value="true" >Si</ion-select-option>
								</ion-select>
								<p>{{entry.nombre}}</p>
							</template>
							<template v-if="entry.nivel==2">
								<ion-label position="floating">{{entry.nombre}}</ion-label>
								<ion-textarea :value="entry.value" v-model="entry.value" @keyup="entry.value = $event.target.value;$forceUpdate()" @input="entry.value = $event.target.value;$forceUpdate()">
								</ion-textarea>
							</template>
						</ion-item>
					</ion-card-content>
				</ion-card>
			</template>
			<ion-button expand="block" v-if="!siValido" @click="siValido=true">Siguiente</ion-button>
			<ion-button expand="block" v-if="siValido"  @click="Guardar">Guardar</ion-button>
		</ion-content>
		<ion-content v-else>
			<ion-card>
				<ion-card-header>
				<ion-card-title>Guardado con éxito</ion-card-title>
				</ion-card-header>
				<ion-card-content>
				</ion-card-content>
			</ion-card>
		</ion-content>
	</ion-app>
</template>
<script>
export default
{
	name: 'registro',
	data()
	{
		return {
			siValido:false,
			nuevaEncuesta:true,
			guadado:false,
			paciente:{
				documento:'',
                documentoRepeat:'',
                celular:'',
                direccion:'',
                email:'',
				data:{}
			},
			arrayPreguntas:[]
		}
	},
	methods:
	{
		start(){
			this.siValido=false;
			this.nuevaEncuesta=true;
			this.paciente={
				documento:'',
				documentoRepeat:'',
				data:{}
			};
			this.arrayPreguntas=[];
			this.loadPreguntas();
		},
		async Guardar()
		{
			let me = this;
			if(await me.consultarPaciente())
			{
				let url=base+"/preguntas/api/save";
				let data={paciente:me.paciente,respuestas:me.arrayPreguntas}
				axios
				.post(url,data)
				.then((response)=>{
					if(response.data.validate)
					{
						me.nuevaEncuesta=false;
						me.$ionic.alertController
						.create({
						subHeader: 'Guardado con éxito',
						message: 'Muchas gracias por llenar la encuesta.',
						buttons: ['OK'],
						})
						.then(a => a.present());
						this.start();
					}
					else{
						me.nuevaEncuesta=true;
						me.$ionic.alertController
						.create({
						subHeader: 'Error',
						message: 'No se pudo guardar, intente nuevamente o intente mas tarde.',
						buttons: ['OK'],
						})
						.then(a => a.present())
					}
				})
			}
		},
		async consultarPaciente()
		{
			let me = this;
			if((this.paciente.documento==this.paciente.documentoRepeat) &&(this.paciente.documento!=''))
			{
				me.paciente.data={};
				let url=base+'/preguntas/api?documento='+this.paciente.documento
				await axios
				.get(url)
				.then((response)=>{
					
					if(response.data.validate)
					{
						if(response.data.data==null)
						{
							me.paciente.data={};
						}
						else{
                            me.paciente.data=response.data.data;
						}
					}
					else
					{
						me.$ionic.alertController
						.create({
						subHeader: 'Numero de documento no encontrado.',
						message: 'Por favor verifique que el número de documento esté bien escrito',
						buttons: ['OK'],
						})
						.then(a => a.present())
					}
				})
				return true;
			}
			else{
				me.$ionic.alertController
				.create({
				subHeader: 'El numero de documento no concuerda',
				message: 'Revise que ambos documentos esten bien escritos.',
				buttons: ['OK'],
				})
				.then(a => a.present())
				return false;
			}
		},
		pregunta(value)
		{
			console.log({value:value});
		},
		loadPreguntas()
		{
			let me = this;
			axios
			.get(base+'/preguntas_grupos/all')
			.then((response)=>{
				me.arrayPreguntas= response.data;
				me.arrayPreguntas.forEach((value,index)=>{
					value.tbl_preguntas.forEach((val,idx)=>{
						val.value=(val.nivel==1)?false:''
					})
				})
			})
			.catch()
		}
	},
	mounted()
	{
		this.start();
	}
}
</script>
<style>
.checkbox-icon {
    min-width: 18px !important;
}
</style>