<template>
        <form @submit.prevent="guardar">
            <div class="row">
                <div class="col-md-6">
                    <label>Nombre primero</label>
                    <input class="form form-control" v-model="form.nombre_primero" name="form_nombre_primero" id="form_nombre_primero" required/>
                </div>
                <div class="col-md-6">
                    <label>Nombre segundo</label>
                    <input class="form form-control" v-model="form.nombre_segundo" name="form_nombre_segundo" id="form_nombre_segundo" />
                </div>
                
                <div class="col-md-6">
                    <label>Apellido primero</label>
                    <input class="form form-control" v-model="form.apellido_primero" name="form_apellido_primero" id="form_apellido_primero" required />
                </div>
                <div class="col-md-6">
                    <label>Apellido segundo</label>
                    <input class="form form-control" v-model="form.apellido_segundo" name="form_apellido_segundo" id="form_apellido_segundo" />
                </div>
                <div class="col-md-6">
                    <label>Documento</label>
                    <input class="form form-control" v-model="form.documento" name="form_documento" id="form_documento" required />
                </div>
                <div class="col-md-6">
                    <label>Punto de atención</label>
                    <select class="form form-control" v-model="form.id_punto_atencion" name="form_id_punto_atencion" id="form_id_punto_atencion" required>
                        <option value="" style="display:none;">Seleccione</option>
                        <option v-for="(item,index) in arrayPuntoAtencion" :key="index" :value="item.id">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Proceso</label>
                    <select class="form form-control" v-model="form.id_proceso" name="form_id_proceso" id="form_id_proceso" required>
                        <option value="" style="display:none">Seleccione</option>
                        <option v-for="(proceso, index) in arrayProceso" :value="proceso.id" :key="index">{{proceso.nombre}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Activo</label>
                    <select class="form form-control" v-model="form.activo" name="form_activo" id="form_activo">
                        <option :value="1">Si</option>
                        <option :value="0">No</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="email" class="form form-control" v-model="form.email" name="form_email" id="form_email" required />
                </div>
                <div class="col-md-6">
                    <label>Login</label>
                    <input class="form form-control" v-model="form.login" name="form_login" id="form_login" required />
                </div>
                <div class="col-md-6">
                    <label>Password</label>
                    <input type="password" class="form form-control" v-model="form.password" name="form_password" id="form_password" required />
                </div>
                <div class="col-md-6">
                    <label>Repita password</label>
                    <input type="password" class="form form-control" v-model="form.password1" name="form_password" id="form_password" required />
                </div>
                
                <div class="col-md-12">
                    <br>
                    <button class="btn btn-success">Guardar</button>
                </div>
            </div>
        </form>
</template>

<script>
export default {
    name:'user-form',
    data()
    {
        return {
            base:'',
            arrayProceso:[],
            arrayPuntoAtencion:[],
            form:{
                nombre_primero:'',
                nombre_segundo:'',
                apellido_primero:'',
                apellido_segundo:'',
                documento:'',
                id_punto_atencion:'',
                id_proceso:'',
                activo:1,
                email:'',
                password:'',
                password1:'',
                login:'',
            }
        }
    },
    methods:{
        start()
        {
            this.loadProceso();
            this.loadPuntoAtencion();
        },
        loadProceso()
        {
            let me = this;
            axios
            .get(base+'/procesos')
            .then((response)=>{
                me.arrayProceso=response.data.data
            })
            .catch()
        },
        loadPuntoAtencion()
        {
            let me = this;
            axios
            .get(base+'/puntosatencion')
            .then((response)=>{
                me.arrayPuntoAtencion=response.data.data
            })
            .catch()
        },
        guardar()
        {
            let me = this;
            if(me.password!=me.password1)
            {
                alert('Error, las contraseñas no coiniciden')
                return;
            }
            axios
            .post(base+'/user',me.form)
            .then((response)=>{
                alert('Guardado con éxito');
                me.$router.push({ name: 'user_index' });
            })
        }
    },
    mounted()
    {
        this.base= base;
        this.start();
    }

}
</script>

<style>

</style>