<template>
	<ion-app>
        <ion-content>
            <div class="container-fluid">
                <div class="card">
                    
                    <div class="card-header">
                        <h4 class="">Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <router-link :to="{name:'user_new'}" class="btn btn-success">Nuevo</router-link>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <table border="1" class="table table-hover">
                                    <tr>
                                        <th>#</th>
                                        <th>Usuario</th>
                                        <th>Documento</th>
                                        <th>Login</th>
                                        <th>Activo</th>
                                        <th>Opciones</th>
                                    </tr>
                                    <tr v-for="(item,index) in arrayData" :key="index">
                                        <td>{{index+1}}</td>
                                        <td>
                                            {{item.nombre_primero}}
                                            {{item.nombre_segundo}}
                                            {{item.apellido_primero}}
                                            {{item.apellido_segundo}}

                                        </td>
                                        <td>{{item.documento}}</td>
                                        <td>{{item.login}}</td>
                                        <td>{{item.activo==1?'SI':'NO'}}</td>
                                        <td><button @click="reiniciar(item.id)" class="btn btn-success">Reiniciar Password</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-app>
</template>

<script>
export default {
    data()
    {
        return{
            base:'',
            arrayData:[]
        }
    },
    methods:{
        start()
        {
            this.loadData();
        },
        loadData()
        {
            let me =this;
            axios
            .get(base+'/user')
            .then((response)=>{
                me.arrayData=response.data.data;
            })
        },
        reiniciar(id)
        {
            let me =this;
            axios
            .post(base+'/user/reloadpass',{id:id})
            .then((response)=>{
                alert('La contraseña ha sido reiniciada. Por defecto es el numero de documento');
                me.loadData()
            })
        }
    },
    mounted()
    {
        this.base=base;
        this.start();
    }
}
</script>

<style>

</style>